{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-booth">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
                <b-navbar-nav class="ml-auto" v-if="!signup">
                    <b-nav-item href="#" v-on:click="decideLogout">
                        {% trans "logout" %}
                    </b-nav-item>
                </b-navbar-nav>
        </b-navbar>

        <b-alert :variant="alertLvl" dismissible v-model="alertShow">
            [[ alertMsg ]]
        </b-alert>

        <div class="voting">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <!-- Register -->
            <b-form @submit="onSubmitLogin" v-if="signup">
                <b-form-group label="{% trans "Username" %}" label-for="username">
                    <b-form-input
                        id="username"
                        type="text"
                        v-model="form.username"
                        autocomplete="username"
                        required />
                </b-form-group>
                <b-form-group label="{% trans "Password" %}" label-for="password">
                    <b-form-input
                        id="password"
                        type="password"
                        autocomplete="current-password"
                        v-model="form.password"
                        required />
                </b-form-group>
                <b-button type="submit" variant="primary">{% trans "Login" %}</b-button>
            </b-form>

            <!-- Voting -->
            <div v-if="!signup">
                <h2>[[ voting.question.desc ]]</h2>
                <b-form-group v-for="opt in voting.question.options" :key="opt.number">
                    <b-form-radio v-model="selected"
                                  :id="'q' + opt.number"
                                  name="question"
                                  :value="opt.number">
                        [[ opt.option ]]
                    </b-form-radio>
                </b-form-group>
                <b-button type="button" variant="primary" v-on:click="decideSend">
                    {% trans "Vote" %}
                </b-button>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-booth',
            data: {
                keybits: {{ KEYBITS }},
                voting: voting,
                selected: "",
                signup: true,
                alertShow: false,
                alertMsg: "",
                alertLvl: "info",
                token: null,
                user: null,
                form: {
                    username: '',
                    password: ''
                },
                bigpk: {
                    p: BigInt.fromJSONObject(voting.pub_key.p.toString()),
                    g: BigInt.fromJSONObject(voting.pub_key.g.toString()),
                    y: BigInt.fromJSONObject(voting.pub_key.y.toString()),
                }
            },
            beforeMount() {
                this.init()
                ElGamal.BITS = this.keybits;
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                postData(url, data) {
                    // Default options are marked with *
                    var fdata = {
                        body: JSON.stringify(data),
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'POST',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                onSubmitLogin(evt) {
                    evt.preventDefault();
                    this.postData("{% url "gateway" "authentication" "/login/" %}", this.form)
                        .then(data => {
                            document.cookie = 'decide='+data.token+';';
                            this.token = data.token;
                            this.getUser();
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                getUser(evt) {
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/getuser/" %}", data)
                        .then(data => {
                            this.user = data;
                            this.signup = false;
                        }).catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                decideLogout(evt) {
                    evt.preventDefault();
                    var data = {token: this.token};
                    this.postData("{% url "gateway" "authentication" "/logout/" %}", data);
                    this.token = null;
                    this.user = null;
                    document.cookie = 'decide=;';
                    this.signup = true;
                },
                decideEncrypt() {
                    var bigmsg = BigInt.fromJSONObject(this.selected.toString());
                    var cipher = ElGamal.encrypt(this.bigpk, bigmsg);
                    return cipher;
                },
                decideSend(evt) {
                    evt.preventDefault();
                    var v = this.decideEncrypt();
                    var data = {
                        vote: {a: v.alpha.toString(), b: v.beta.toString()},
                        voting: this.voting.id,
                        voter: this.user.id,
                        token: this.token
                    }
                    this.postData("{% url "gateway" "store" "/" %}", data)
                        .then(data => {
                            this.showAlert("success", '{% trans "Conglatulations. Your vote has been sent" %}');
                        })
                        .catch(error => {
                            this.showAlert("danger", '{% trans "Error: " %}' + error);
                        });
                },
                showAlert(lvl, msg) {
                    this.alertLvl = lvl;
                    this.alertMsg = msg;
                    this.alertShow = true;
                }
            },
        })
    </script>
</body>
{% endblock %}
