{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <h1>{{ voting.id }} - {{ voting.name }}</h1>

    {% if not voting.start_date %}
        <h2>{% trans 'Voting not started' %}</h2>
    {% elif not voting.end_date %}
        <h2>{% trans 'Voting is opened' %}</h2>
    {% else %}
        <h2>{% trans 'Results: ' %}</h2>
        <ul>
            {% for option in voting.postproc %}
                <li>{{option.option}}: {{option.postproc}} <span>({{option.votes}})</span></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
